<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>  
          <add name="connectionLine" providerName="Microsoft.Data.SqlClient" connectionString="Data Source=PIT29\SHILOV;Initial Catalog=meeting_db;User ID=sa;Password=123;"/>  
    </connectionStrings>  
</configuration>